@{
    ViewBag.Title = "澳乐维他";
    Layout = "~/Views/Shared/MainHealthSiteLayout.cshtml";
    @Styles.Render("~/Content/css/index.css");
    @Styles.Render("~/Content/css/owl.carousel.css");
    @Styles.Render("~/Content/css/owl.theme.css");

    <script src="~/Content/js/mainSite.js"></script>
}

<div id="myCarousel" class="carousel slide">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Content/banner/aitisha-banner-1.jpg" alt="First slide">
        </div>
        <div class="item">
            <img src="~/Content/banner/aitisha-banner-2.jpg" alt="Second slide">
        </div>
    </div>

</div>

<div class="container aitisha">

    <div class="inner-content">

        <div class="search-outer">

            <div class="row text-center">

                <form class="search-wrapper" method="get" target="_blank" action="/Product/Search">
                    <input name="kw" type="text" class="form-control" placeholder="请输入您要搜索的商品">
                    <input name="ws" type="text" value="@ViewBag.WebsiteId" hidden="hidden">
                    <input type="submit" value="" class="search-btn">
                </form>

            </div>

        </div>

        <div class="product-category-wrapper">
            <h3 class="text-center">产品分类</h3>
        </div>

        <ul class="row text-center shortcut-button-list">
            @foreach (var ct in ViewBag.CategoryList)
            {
                <li>
                    <a href="../Product/List?ws=@ViewBag.WebsiteId&ct=@ct.Id" class="btn btn-default btn-lg" role="button">@ct.CategoryName</a>
                </li>
            }
        </ul>

        <div class="row company-introduce-wrapper">
            <div class="col-sm-12 center-block company-introduce">
                <p>NTSA（艾缇莎）是 Natural Therapy Science Australia 的缩写。</p>
                <p>澳大利亚是地球上自然环境最优越的地方之一，幅员辽阔、地广人稀、风景优美、物产丰富。澳大利亚附近的南太平洋海域是世界公认的没有受过污染的天然纯净海域。</p>
                <p>得天独厚的自然条件，天然纯净的环境提供的是无与伦比的高品位优质原料，让澳大利亚成为了世界营养食品、药品、化妆品原料的首选地之一。</p>
                <p>NTSA来自于澳洲最大的制药企业，拥有澳洲权威额研发和试验机构，每瓶NTSA产品都是出自澳洲最高科技药厂。</p>
                <p>顶级的天然原料，是NTSA营养健康产品的先天优势。以澳洲八项诺贝尔生物技术的强大后盾，结合全球顶尖的研发力量、一流的生产工艺的相结合，成就了NTSA营养健康品的国际品质！</p>
            </div>
        </div>

        <div class="product-category-wrapper">
            <h3 class="text-center">明星产品</h3>
        </div>

        <article class="recommend-list">

            <div class="snap-list-wrapper">

                <section id="snapList">
                    @foreach (var p in ViewBag.ProductList)
                    {
                        <div class="snap-list-outer">
                            <div class="snap-list-inner">
                                <a target="_blank" href="/Product/Detail?ws=@ViewBag.WebsiteId&id=@p.Id">
                                    <img class="recommend-product" src="~/Content/ProductImage/@p.GalleryImages[0]">
                                    <div>
                                        <h3>@p.Name</h3>
                                        @*<p>@p.Title</p>*@
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                </section>

            </div>
        </article>

        <div class="product-category-wrapper">
            <h3 class="text-center">关于我们</h3>
        </div>

        <div class="row about-us">
            <div class="col-sm-4">
                <a href="/Product/List?ws=3">
                    <img src="~/Content/images/aitisha_product_series.jpg" />
                    <div>
                        <h3>产品系列</h3>
                        <p>NTSA建立了一整套自然保健、疾病预防的完整产品体系。除了日常健康护理，还注重于新陈代谢、身体运动机能、关节保护、生殖健康、肠道管理、健康瘦身等产品的研发和生产。</p>
                    </div>
                </a>
            </div>

            <div class="col-sm-4">
                <a href="http://www.enervite.com.au/">
                    <img src="~/Content/images/aitisha_brand_event.jpg" />
                    <div>
                        <h3>品牌事件</h3>
                        <p>艾缇莎以全球顶尖的技术为后盾，以自然与科学的完美结合为宗旨，为全球人类提供优质的生活品质。</p>
                    </div>
                </a>
            </div>

            <div class="col-sm-4">
                <a href="/Index/ProductionMonitor">
                    <img src="~/Content/images/produce_control.jpg" />
                    <div>
                        <h3>生产质控</h3>
                        <p>艾缇莎（NTSA）的每一颗产品均是由澳洲知名生产商FPA生产，健康、安全、权威、可靠是我们对品质的追求。</p>
                    </div>
                </a>
            </div>
        </div>

    </div>

</div>

