@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/css/search.css");
}

<div class="container">

    <div class="row">
        <div class="col-sm-3 center-block">

            <article class="recommend-list">

                <div class="snap-list-wrapper">

                    <div class="recommend-list-title">商品推荐</div>

                    <ul>

                        @foreach (var p in ViewBag.RecommandList)
                        {
                            <li class="snap-list-outer">
                                <div class="snap-list-inner">
                                    <a target="_blank" href="/Product/Detail?ws=@ViewBag.WebsiteId&id=@p.Id">
                                        <img class="recommend-product" src="~/Content/ProductImage/@p.GalleryImages[0]">
                                        <div>
                                            <h3>@p.Name</h3>
                                            <p>@p.Title</p>
                                        </div>
                                    </a>
                                </div>
                            </li>
                        }

                    </ul>

                </div>
            </article>

        </div>
        <div class="col-sm-9 center-block">

            <ol class="breadcrumb">
                <li><a href="javascript:void(0);">首页</a></li>
                <li><a href="javascript:void(0);">搜索结果</a></li>
                <li class="search-outer-wrapper">
                    <div class="search-outer">
                        <div class="row text-center">
                            <form class="search-wrapper" method="get" action="/Product/Search">
                                <input name="kw" type="text" class="form-control" placeholder="请输入您要搜索的商品">
                                <input name="ws" type="text" value="@ViewBag.Website" hidden="hidden">
                                <input type="submit" value="" class="search-btn">
                            </form>
                        </div>
                    </div>
                </li>
            </ol>

            <ul class="product-list-content">
                @ViewBag.Msg
                @foreach (var p in ViewBag.ProductList)
                {
                    <li>
                        <a target="_blank" href="/Product/Detail?ws=@ViewBag.WebsiteId&id=@p.Id">
                            <img src="~/Content/ProductImage/@p.GalleryImages[0]" />
                            <p class="product-name">@p.Name</p>
                        </a>
                    </li>
                }


            </ul>

        </div>

    </div>




</div>
